.currency_wrapper {
  margin-top: 20px;
}
.currency_title {
  font-size: 36px;
  margin-bottom: 20px;
}
.currency_inputs_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prompt_input,
.display_input {
  flex: 1;
  padding: 10px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  transition: all 0.1s;
}
.display_input {
  border-bottom: 1px dashed black;
}

.prompt_input:focus {
  border-bottom: 1px solid rgb(0, 150, 196);
}
