.currency_wrapper {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  padding: 20px;
  margin-top: 20px;
}
.currency_title {
  font-size: 33px;
  margin-bottom: 20px;
  font-weight: normal;
}
.currency_inputs_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.prompt_input,
.display_input {
  flex: 1;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  transition: all 0.1s;
  width: 100%;
  flex: 1;
}
.display_input {
  border-bottom: 1px dashed black;
}

.prompt_input:focus {
  border-bottom: 1px solid rgb(0, 150, 196);
}

.currency_inner_cont {
  position: relative;
  width: 100%;
}
.currency_inner_cont span {
  position: absolute;
  left: 0;
  top: 9px;
  color: gray;
  font-weight: normal;
}
